<div style="padding: 13px;">
   <div *ngIf="products.length === 0"></div>
   <div class="alert alert-info" role="alert">
    Ilość: {{products.length}}
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products" style="margin-top:10px;">
            <div class="card">
                <div class="card-body">
            <h3 class="card-title">
                <!-- {{product['id']}} - {{product['name']}} -->
                {{product['artist']}}
               
                <!-- <mat-card-subtitle>{{product.price}} $/ {{product.quantity}} -->
            <!-- </mat-card-subtitle> -->
                </h3>
                <h4>{{product['title']}}</h4>
                <ul>
                    <li>{{product['year']}}</li>
                </ul>
            <div>
                <p>
                    <!-- {{product.['description']}} -->
                </p>
                <!-- <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" /> -->
            </div>
                <!-- <button mat-button (click)="delete({{product['id']}})"> Buy product</button> -->
        <button class="btn btn-danger" (click)="deleteProduct(product['id'])">Usuń</button> 
        <button class="btn btn-success"[routerLink]="['/edit', product['id']]">Edytuj</button> 
    </div></div>
        <div>
    </div>
</div>
</div>
</div>
